<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="Doctor ML"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".uploadToPredictActivity"></activity>
        <activity android:name=".punctureActivity" />
        <activity android:name=".uploadDocActivity" />
        <activity android:name=".yesheartActivity" />
        <activity android:name=".noheartActivity" />
        <activity android:name=".heartdiseaseActivity" />
        <activity android:name=".noparkinsonActivity" />
        <activity android:name=".yesparkinsonActivity" />
        <activity android:name=".mentaltestActivity" />
        <activity android:name=".burnActivity" />
        <activity android:name=".lacerationActivity" />
        <activity android:name=".abrasionActivity" />
        <activity android:name=".yesdiabetesActivity" />
        <activity android:name=".nodiabetesActivity" />
        <activity android:name=".diabetesActivity" />
        <activity android:name=".obeseActivity" />
        <activity android:name=".overweightActivity" />
        <activity android:name=".healthyActivity" />
        <activity android:name=".thinActivity" />
        <activity android:name=".bmiActivity" />
        <activity android:name=".clickPictureActivity" />
        <activity android:name=".uploadPictureActivity" />
        <activity android:name=".EmergencyActivity" />
        <activity android:name=".HealthActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>